*.iml
.secret
.secrets
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build-logic/build
/build-logic/plugins/build
/build-logic/plugins/convention/build
/build-logic/plugins/android/build
/build
/buildSrc/build
/captures
.externalNativeBuild
.cxx
local.properties
androidApp/build
androidApp/libs
.idea
androidApp/private_key.pepk
androidApp/google-services.json
androidApp/keystore.jks
desktop/build
keys.propertiesd
# Samples
samples/android-app/build
samples/android-library/build
samples/kmm-compose/build
samples/kmm-lib/build