name: Release and deploy material mkdocs to gh-pages
on:
  push:
    branches:
      - master
  workflow_dispatch:
jobs:
  check_gradle_files_change:
    name: "Check docs files changed"
    runs-on: ubuntu-latest
    outputs:
      DOCS_FILES_CHANGED: ${{ steps.docs_changed.outputs.any_changed }}
    steps:
      - uses: actions/checkout@6d193bf28034eafb982f37bd894289fe649468fc # v4
        with:
          submodules: 'recursive'
      - name: Check that docs changed
        id: docs_changed
        uses: tj-actions/changed-files@d6e91a2266cdb9d62096cebf1e8546899c6aa18f # v45.0.6
        with:
          files: |
            docs/**
            mkdocs.yml
  deploy:
    needs: [ check_gradle_files_change ]
    if: needs.check_gradle_files_change.outputs.GRADLE_FILES_CHANGED == 'true'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: pip install mkdocs-material
      - run: pip install mkdocs-minify-plugin
      - run: mkdocs gh-deploy --force
  gradle_validation:
    name: Validate gradle wrapper
    uses: ./.github/workflows/call-gradle-wrapper-validation.yml
  release:
    name: Release
    needs: gradle_validation
    uses: ./.github/workflows/call-release.yml
    secrets:
      ORG_GRADLE_PROJECT_MAVENCENTRALUSERNAME: ${{ secrets.ORG_GRADLE_PROJECT_MAVENCENTRALUSERNAME }}
      ORG_GRADLE_PROJECT_MAVENCENTRALPASSWORD: ${{ secrets.ORG_GRADLE_PROJECT_mavenCentralPassword }}
      ORG_GRADLE_PROJECT_SIGNINGINMEMORYKEY: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGINMEMORYKEY }}
      ORG_GRADLE_PROJECT_SIGNINGINMEMORYKEYID: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGINMEMORYKEYID }}
      ORG_GRADLE_PROJECT_SIGNINGINMEMORYKEYPASSWORD: ${{ secrets.ORG_GRADLE_PROJECT_SIGNINGINMEMORYKEYPASSWORD }}